@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 141 47% 99%;
    --foreground: 141 74% 3%;
    --muted: 141 24% 91%;
    --muted-foreground: 141 6% 35%;
    --popover: 141 47% 99%;
    --popover-foreground: 141 74% 3%;
    --card: 141 47% 99%;
    --card-foreground: 141 74% 3%;
    --border: 141 14% 91%;
    --input: 141 14% 91%;
    --primary: 141 83% 47%;
    --primary-foreground: 141 83% 7%;
    --secondary: 141 18% 84%;
    --secondary-foreground: 141 18% 24%;
    --accent: 141 18% 84%;
    --accent-foreground: 141 18% 24%;
    --destructive: 3 87% 20%;
    --destructive-foreground: 3 87% 80%;
    --ring: 141 83% 47%;
    --chart-1: 141 83% 47%;
    --chart-2: 141 18% 84%;
    --chart-3: 141 18% 84%;
    --chart-4: 141 18% 87%;
    --chart-5: 141 86% 47%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 141 34% 0%;
    --foreground: 141 16% 99%;
    --muted: 141 24% 9%;
    --muted-foreground: 141 6% 65%;
    --popover: 141 34% 0%;
    --popover-foreground: 141 16% 99%;
    --card: 141 34% 0%;
    --card-foreground: 141 16% 99%;
    --border: 141 14% 10%;
    --input: 141 14% 10%;
    --primary: 141 78.51% 60.62%;
    --primary-foreground: 141 83% 7%;
    --secondary: 141 16% 8%;
    --secondary-foreground: 141 16% 68%;
    --accent: 141 16% 8%;
    --accent-foreground: 141 16% 68%;
    --destructive: 3 87% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 141 83% 47%;
    --chart-1: 141 83% 47%;
    --chart-2: 141 16% 8%;
    --chart-3: 141 16% 8%;
    --chart-4: 141 16% 11%;
    --chart-5: 141 86% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  /* Custom scrollbar */
  ::-webkit-scrollbar {
    @apply w-1;
    @apply h-1;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary;
  }
}
